html,
body {
  background: gray;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stage {
  width: 460px;
  height: 460px;
  position: relative;
}

.stage:focus {
  outline: 0;
}

.tile {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-out 0.15s;
  text-align: center;
  font-size: 35px;
  line-height: 100px;
  font-family: monospace;
  border-radius: 8px;
  border: 5px solid rgba(0, 0, 0, 0.5);
}

.tEmpty {
  background: rgba(0, 0, 0, 0);
}

.t2 {
  background: rgba(136, 194, 209, 0.7);
}

.t4 {
  background: rgba(23, 88, 173, 0.7);
}

.t8 {
  background: rgba(62, 26, 145, 0.7);
}

.t16 {
  background: rgba(135, 0, 166, 0.7);
}

.t32 {
  background: rgba(255, 14, 208, 0.7);
}

.t64 {
  background: rgba(237, 0, 0, 0.7);
}

.t128 {
  background: rgba(237, 103, 0, 0.7);
}

.t256 {
  background: rgba(237, 213, 0, 0.7);
}

.t512 {
  background: rgba(166, 255, 0, 0.7);
}

.t1024 {
  background: rgba(27, 255, 0, 0.7);
}

.t2048 {
  background: rgba(0, 255, 149, 0.7);
}

.lose,
.win {
  font-family: sans-serif;
  padding: 20px 40px;
  border-radius: 5px;
}

.lose {
  background: rgba(255, 255, 255, 0.2);
}

.win {
  background: rgba(102, 153, 255, 0.7);
}
